In [0]:

import pandas as pd
import sys;
import numpy as np 
import math

In [0]:
data = pd.read_csv('final.csv')

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
enc = LabelEncoder()

In [62]:
#data['Annual_Rain'][data['Annual_Rain'] == 0] = 0.01

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
for i in data.columns:
  if isinstance(data[i][0],str):
    data[i] = enc.fit_transform(data[i])

In [0]:
#enc.inverse_transform([data['Crop'][0]])

In [65]:
data['Crop'][0]

77

In [0]:
def euclideanDistance(instance1, instance2):
    instance1 = float(instance1)
    instance2 = float(instance2)
    distance = pow((instance1 - instance2), 2)
    return math.sqrt(distance)

In [67]:
data.head()

   STATES  District_Name  Season  Crop  Annual_Rain  Avg_Temperature
0       0            392       1    77        931.8             24.6
1       0            505       1    77        931.8             24.6
2       0            392       4     1        931.8             24.6
3       0            505       4     1        931.8             24.6
4       0            392       4     5        931.8             24.6

In [0]:

def Sort(sub_li): 
    l = len(sub_li) 
    for i in range(0, l): 
        for j in range(0, l-i-1): 
            if (sub_li[j][1] > sub_li[j + 1][1]): 
                tempo = sub_li[j] 
                sub_li[j]= sub_li[j + 1] 
                sub_li[j + 1]= tempo 
    return sub_li

In [0]:
def knn(district,ses,rain,temp):
    distance = []
    for i in range(len(data.index)):
        dis = euclideanDistance(data.District_Name[i],district) + euclideanDistance(data.Season[i],ses) + euclideanDistance(data.Annual_Rain[i],rain) + euclideanDistance(data.Avg_Temperature[i],temp)
           
           # euclideanDistance(data.Crop[i],crp)  +
        distance.append([data.Crop[i],dis])
    return distance

In [0]:
l = knn(39,1,931.8,24.6)
l = Sort(l)

In [84]:
l[:5]

[[2, 18.0], [4, 18.0], [19, 18.0], [24, 18.0], [27, 18.0]]